<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Update budget</title>
  </head>

  <body>
    <h3>Write your name and budget</h3>

    <form class="" action="http://127.0.0.1:5000/updateBudget" method="post">

      <label for="user">user</label>
      <input type="text" name="user" id="user" value="Bob">

      <label for="amount">amount</label>
      <input type="number" name="amount" id="amount" value="12"> <br>

      <input type="submit" value="Submit">
    </form>

  </body>
</html>
